html, body {
	height: 100%;
	margin: 0px;
	padding: 0px
  }


body {
	font-family: "Open Sans", sans-serif;
	/* font-family: 'Libre Baskerville', serif; */
	color: #686868;
	font-size: 15px;
	background-color: #6B7283;
}

 #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }



.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.clear{
	clear: both;
}

a {
	text-decoration: none;
	color: #79accd;
}

a:hover {
	color: #79accd;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 17px;
	font-weight: 300;
	/* color: #ff5400; */
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
	margin-bottom: 15px;
}

ul{
	list-style-type: square;
	margin-left: 60px;
	margin-bottom: 30px;
}

ul li{
	line-height: 1.9;
}




/* tablets and desktop */
@media only screen and (min-width: 361px) {
	
	p {
		margin-bottom: 15px;
		line-height: 20px;
	}

	#map-canvas{
		height: 100%
	}
	#control{
		float: left;
		color: #D8D8DD;
		width: 45%;
		padding: 50px 30px 10px 30px;
		border-right: 1px solid black;
	}


	
}

/* phones */
@media only screen and (max-width: 360px) {
    
	p {
		margin-bottom: 10px;
		line-height: 26px;
	}
	
	#map-canvas{
		height: 100%;
	}
	
	#control{
		color: #D8D8DD;
		padding: 20px 30px 10px 30px;
	}

}

