html{
    width: 100vw;
}

body{
    width:100vw;
}

#landing-page{
    height: 100vh;
    width:100vw;
    margin:none;
    padding:none;
    z-index:5;
    background: url(/assets/css/image/map.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    /* background-color:rgba(0,0,0,0.5); */
    position: absolute;
    display:flex;
   
}

.jumbotron{
max-height:800px;
text-align: center;
}

.jt-bottom{
    margin-top:2rem;
}

#enterButton{
z-index: 5;
}



header{
    height:60px;
    background-color: #004777;
    text-align: center;
}

#main{
    
    height: 100vh;
    width:100vw;
    display: flex;
    flex-flow: column nowrap;
    padding: none;   
}

#logo{
    color: white;
    text-align: center;
   
}

nav li{
    list-style-type: none; 
    z-index: 1;
    background-color: #004777;
     
}


nav{
    height: 6rem;
    text-align: center;
    background-color: #004777;
    color: #FF7700;
    display: block;
    
}

.featurette-divider{
    padding:20px;
    margin-top: 80px;
    width:80%;
}

#jt-divider{
    margin-top:0px;
    width:50%;
}


#map-canvas{
   
    width: 99%;
    height: 85%;
    display: block;
    float: right;
}




#buttons{
    background-color: white;
    z-index: 0;
    margin-top: 20px;
    align-self: center;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}


.weatherButton
{
    min-height:  100%;
    display: inline-block;
    border-radius: 15px;
   background-color: #004777;
   color: #FF7700;
    box-sizing: content-box;
    font-size: auto;
    overflow-y: hidden; 
}

#placeName{
    display: inline-block;
    text-align: center;
}




#chart{
    background-color: #104F55;
}

#weather{
    background-color: #5A7D7C;
}

#surfForecast{
    background-color: #073B4C;
}




#results{
    width: 100%;
    display: flex;
    flex-flow: row;
   
    
}

#tableDiv{
    width: 100%;
    height: auto;
    text-align: center;
    caption-side: top;
    padding: 0;
    display:block;    
}

#marineTitle{
    padding-bottom: 2rem;
}

#weatherDiv{
    width:100%;
    text-align: center;
    display:block;
}

#weatherDiv li{
    padding:20px;
    list-style-type: none;
    line-height: 2rem;
}

.icon{
    margin-bottom: 2rem;
}

#chartDiv{
    width:100%;
    overflow: hidden;
    overflow-x: scroll;
    text-align: center;
    
}

#chartTitle{
    text-align:center;
    height:5rem;
    color: black;
    
 
}

#tideTable{
    width: 100%;
}

.icon{
    height: 50px;
}

.hide,
.hidden{
    display: none;
}



th {
    background: lightblue;
    border-color: black;
    color: darkBlue;
    height: 4rem;
}

td {
    color: blue;
    padding: 10px;
}

.odd {
    background: #ccc;
}    

#pac-input{
    height:3rem;
    width:16rem;
    padding:0;
    text-align: center;
}

#pac-card{
    padding: 10px;
    height: 5rem;
    z-index: 1;
}

#pac-container{
    height: 100%;
}



@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	#forms{
        z-index: 2;
    }

    .weatherButton{
        border-radius:0px;
        
        
    }
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #ccc; 
    }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	
	td:nth-of-type(1):before { content: "Time"; }
	td:nth-of-type(2):before { content: "Swell Direction"; }
	td:nth-of-type(3):before { content: "Swell Height"; }
	td:nth-of-type(4):before { content: "Swell Period"; }
	td:nth-of-type(5):before { content: "Wind Direction"; }
	td:nth-of-type(6):before { content: "Wind Speed"; }
	td:nth-of-type(7):before { content: "Water Temperature"; }
	td:nth-of-type(8):before { content: "Air Temperature"; }
	td:nth-of-type(9):before { content: "Visibility"; }
	td:nth-of-type(10):before { content: "Sea Level"; }
}

@media (min-width: 1024px){
    #dropdown-button{
        display: none;
    }
}