#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;


}




.navTitle {
    text-align: center;
    position: relative;

}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: 1;
    color: orange;
    -moz-box-shadow: 10px 3px 5px 6px #ccc;
    -webkit-box-shadow: 10px 3px 5px 6px #ccc;
    box-shadow: 10px 3px 5px 6px #ccc;
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;

}



.title {

    font-family: 'Amatic SC', cursive;
    font-size: 15rem;
    margin: 0;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}





#landing {
    background: url("./assets/images/big-wave.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
}


#enter {
    /*z-index: 3;*/
    position: absolute;
    margin-left: -100px;
    left: 50%;
    width: 200px;
    height: 200px;
    bottom: 50px;

}

button {
    background-image: url("./assets/images/if_Arrow_30_2104129.png");
    background-size: cover;
    background-color: transparent;
    -webkit-animation: bounce 1.25s infinite;
    border-color: transparent;
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1, 1) translate(0px, 0px);
    }

    30% {
        transform: scale(1, 0.95) translate(0px, 5px);
    }

    75% {
        transform: scale(1, 1.1) translate(0px, -5px);
    }

    100% {
        transform: scale(1, 1) translate(0px, 0px);
    }
}


.hide {
    display: none;
}

#main {
    height: 100%;
    margin: 0px;
    padding: 0px;

}


body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    /* font-family: 'Libre Baskerville', serif; */
    color: black;
    font-size: 15px;
    background-color: white;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}





#chartDiv {
    width: 100%;
    height: 12rem;
}


#tideTable {

    width: 90vw;
    height: 2rem;
    border: 1px solid black;
    border-collapse: separate;
    text-align: center;

    caption-side: top;
    -moz-box-shadow: 10px 3px 5px 6px #ccc;
    -webkit-box-shadow: 10px 3px 5px 6px #ccc;
    box-shadow: 10px 3px 5px 6px #ccc;
    padding: 0;
}

#tableContainer {
    overflow-x: auto;
    width: 90vw;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

th {
    background: lightblue;
    border-color: black;
    color: darkBlue;
}

td {
    color: blue;
    padding: 10px;
}

.odd {
    background: #ccc;
}

.shadow {
    -webkit-box-shadow: 10px 3px 5px 6px #ccc;
    box-shadow: 10px 3px 5px 6px #ccc;

}

#placeName {
    background-color: black;
    color: white;

}

p {
    color: black;
    text-align: center;
}

/* tablets and desktop */

@media only screen and (min-width: 361px) {

    p {
        margin-bottom: 15px;
        line-height: 20px;
        max-width: 80% text-align:center;
    }

    #map-canvas {

        min-height: 75vh;
        width: 90vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8rem;
        -moz-box-shadow: 10px 3px 5px 6px #ccc;
        -webkit-box-shadow: 10px 3px 5px 6px #ccc;
        box-shadow: 10px 3px 5px 6px #ccc;
        border: 2px solid black;
        padding-top: 30px;

    }




}

/* phones */

@media only screen and (max-width: 360px) {
    #map-canvas {
        height: 75vh;
    }

    #tideTable {
        width: 75vw;
    }
    #map-canvas {
        margin-top: 40%;
    }

}


/*autocomplete*/

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}
